{% extends "base.html" %}

{% block content %}
    {% for grouper, list in articles|groupby('date.year')|sort(attribute='grouper', reverse=true) %}
        <section data-year="{{ grouper }}" class="article-list__year-section">
        {% for article in list %}
            <article class="article-list__article">
                <header>
                    <h2 class="content__title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                </header>
            </article>
        {% endfor %}
        </section>
    {% endfor %}
{% endblock %}
